<mat-grid-list cols="4" rowHeight="1:1.2">
    <mat-grid-tile *ngFor="let juegoMesa of juegosMesa">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{juegoMesa.nombre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="'assets/IMG-JUEGOS/'+juegoMesa.imagenURL" [alt]="juegoMesa.imagenURL"
                width="200">
            <mat-card-content>
                <p>
                    {{juegoMesa.descripcion}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>COMPRAR</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>